
CustomCLI_Swiftonize/.DS_Store
.DS_Store
CustomCLI_Swiftonize/CustomCLI_Swiftonize.xcodeproj/project.xcworkspace/xcuserdata/musicmaker.xcuserdatad/UserInterfaceState.xcuserstate
MyNewPySwiftApp_part-0/MyNewPySwiftApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
MyNewPySwiftApp_part-0/MyNewPySwiftApp.xcodeproj/project.xcworkspace/xcuserdata/musicmaker.xcuserdatad/UserInterfaceState.xcuserstate
MyNewPySwiftApp_part-0/MyNewPySwiftApp.xcodeproj/project.xcworkspace/xcuserdata/musicmaker.xcuserdatad/UserInterfaceState.xcuserstate
MyNewPySwiftApp_part-0/MyNewPySwiftApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
